@font-face {
    font-family: AppleSDGothicNeoL;
    src: url('../rsrc/font/AppleSDGothicNeoL.ttf') format('truetype');
}

*{margin: 0; padding: 0;}
a {text-decoration: none;}

header{display: flex; justify-content: space-around; background-color: #F8F8FA; box-shadow: 0px -10px 10px 30px#8f8f8f41;}
header .menu {width: 100%; box-shadow: 0 0 0 1px #ededed inset; transition-property: box-shadow; transition-duration: 0.3s;}
header .menu:hover { box-shadow: none;}
header .mTextArea {color: #767676; margin: 3% 0% 1% 3%; font-size: 1.2em;}
header .colorBar{height: 10%; }

header .menu:first-child .colorBar{background-color: #AC6E48; }
header .menu:nth-child(2) .colorBar{background-color: #45464C;}
header .menu:nth-child(3) .colorBar{background-color: #E5DDD6;}

header .menu:first-child , .menu:nth-child(2), .menu:nth-child(3) { transition-property: background-color; transition-duration: 0.3s;}
header .menu:first-child:hover {background-color: #AC6E48;}
header .menu:first-child:hover .mTextArea {color: #f8f8fa;}

header .menu:nth-child(2):hover {background-color: #45464C; color: #f8f8fa;}
header .menu:nth-child(2):hover .mTextArea {color: #f8f8fa;}
header .menu:nth-child(3):hover {background-color: #E5DDD6;}
header .menu:nth-child(3):hover .mTextArea {color: #f8f8fa;}

content { padding:0 8px; background-image: url('../rsrc/image/mainpage/bgimg.jpg');}

footer {background-color: #DBDBDB; position:absolute; bottom: 0; width: 100%; display: flex;}
footer > p:nth-of-type(1){padding: 8px 12px; font-size:1em; color: #707070; display: flex;}
footer .footer-left, .footer-right {display: flex;}
footer .footer-left {position : absolute; left: 3%;}
footer .footer-right {position : absolute; right: 3%;}